* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url("kampus.jpg"); /* background image */
  background-size: cover;
  background-position: center;
}

/* overlay biar teks kebaca */
.overlay {
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(255, 255, 255, 0.85); /* transparan */
  padding: 20px;
  width: 400px;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

.info {
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
select,
button {
  padding: 8px;
  font-size: 14px;
}

button {
  background-color: #2c7be5;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #1a5fc1;
}

#pesan {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

/* RESPONSIVE HP */
@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}
